<nav class="navBarMenu">
  <!-- BUTTON TOGGLER -->
  <div class="buttonToggler">
    <button class="btn buttonCollapse" (click)="showAndHide()">
      <i class="bi bi-list iconMenu"></i>
    </button>

  </div>

  <!-- Logo  -->
  <div class="adminLinks">
    <img src="assets/img//Proeficiency Test (3).svg" [routerLink]="['/admin']" alt="logoFlu">
    <!-- <a routerLinkActive="active" class="navLinkTitle" [routerLink]="['/admin']">Sistema Exibido <span class="sr-only"></span></a> -->
  </div>

  <!-- Menu lateral para logout -->
  <div class="nav-item dropdown navDropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i style="font-size: 1.5rem;display: flex; margin-right: 10px;" class="bi bi-person-fill"></i>User Teste
    </a>
    <ul class="dropdown-menu menuShow" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item"><i style="font-size: 0.8rem" class="bi bi-bell-fill"></i> Notificações</a></li>
      <li><a class="dropdown-item"><i style="font-size: 0.8rem" class="bi bi-list-task"></i> Tarefas</a></li>
      <li><a class="dropdown-item" type="button" (click)="logout()"><i style="font-size: 0.8rem" class="bi bi-box-arrow-right"></i> Logout</a></li>
    </ul>
  </div>

</nav>
